*{
    margin: 0;
    padding: 0;
}

.main-conatiner{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 9px 6px 12px 0 rgba(0, 0, 0, 0.5); 
    overflow: hidden;
    background-color: #0A6190;
}

.bag {
    position: absolute;
    top: 90px;
    left: 125px;
    width: 150px;
    height: 150px;
    background: #328FC1;
    border-radius: 10px 10px 50px 50px;
  }
  .bag-handle{
    position: absolute;
    top: 60px;
    left: 175px;
    width: 50px;
    height: 30px;
    background: #328FC1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .box{
    position: absolute;
    top: 70px;
    left: 185px;
    width: 30px;
    height: 20px;
    background: #0A6190;
  }